* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8f0;
  color: #333;
}

.vision-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.vision-header {
  background-color: rgb(85, 126, 160);
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 5px;
}

.vision-header h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.vision-header p {
  font-size: 1.4rem;
  margin-top: 10px;
  color: white;
}

.about-us {
  margin-top: 50px;
}

.about-us h2 {
  color:#303234;
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-align: center;
}

.about-us p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
  background-color: rgb(208, 228, 244);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vision-content {
  margin-top: 50px;
}

.vision-content h2 {
  color: #303234;
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.vision-content p {
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.vision-goals {
  margin-top: 50px;
}

.vision-goals h2 {
  color: #303234;
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-align: center;
}

.vision-goals ul {
  list-style-type: none;
  padding-left: 0;
}

.vision-goals li {
  background-color: rgb(208, 228, 244);
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.2rem;
  border-left: 7px solid rgb(85, 126, 160);
  line-height: 1.8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  background-color: #303234;
  color: white;
  font-size: 1.3rem;
}

footer p {
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .vision-container {
    width: 95%;
    padding: 20px 0;
  }

  .vision-header h1 {
    font-size: 2.5rem;
  }

  .vision-content h2, .vision-goals h2, .about-us h2 {
    font-size: 2rem;
  }

  .about-us p, .vision-goals li {
    font-size: 1.1rem;
  }

  .vision-header p {
    font-size: 1.2rem;
  }
}
